<html>
<body>

	<style type="text/css">
		table, tr, td{
			border : 1px solid black;
			text-align: left;
		}

	</style>

	<script type="text/javascript">

		function button1_click() {
		var url = "popup1.html";
            	var name = "popup test";
            	var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            	window.open(url, name, option);
		}

		function button2_click() {
		var url = "popup2.html";
            	var name = "popup test";
            	var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            	window.open(url, name, option);
		}
			

		var urlList={{urlList|tojson}};
		var x=Number({{urlCount|tojson}});
		var wordList={{wordList|tojson}};
		var wordCount=({{wordCount|tojson}});
		var y=5;
		var num=1;
		document.write("<table>");
		for(i=0;i<x;i++)
		{
			document.write("<tr>");
			document.write("<td width='1000' text-align: left>");
			document.write("&nbsp; URL"+num +" : " + urlList[i]);
			num++;

			document.write("<td width='200'>");
			document.write("&nbsp; 전체 단어수 : " + wordCount[i]);

			document.write("<td width='200'>");
			document.write("&nbsp; 처리시간 (초)");

			document.write("<td>");
			document.write("<input type='button' value='단어분석 버튼' onclick='button1_click()';>");

			document.write("<td>");
			document.write("<input type='button' value='유사도 분석 버튼' onclick='button2_click()';>");
			document.write("</tr>");
		}
		document.write("</table>");
	</script>

</body>
</html>
